<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/book-your-appointment">&nbsp;&nbsp;BOOK YOUR APPOINTMENT&nbsp;&nbsp;</a></li>
        <li><a href="/how-it-works">HOW IT WORKS</a></li>
        <li><a href="/contact-us">CONTACT US</a></li>
    </ul>
</nav>